streamlit
python-dotenv
qdrant-client
langchain-core
langchain-community
langchain-google-genai
langchain-qdrant
langchain-huggingface
sentence-transformers
transformers
huggingface_hub
torch
pypdf
